.title-feedback{
    color: $black-413;
    font-family: 'Playfair Display', serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
    margin-bottom: 14px;
}
.form-clients{
    margin-top: 72px;
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}
.form{
    display: flex;
    flex-direction: column;
    &__input{
        width: 460px;
        margin-top: 21px;
        padding: 15px;
        border: 1px solid #e5e5e5;
        &::-webkit-input-placeholder{
            opacity: 0.5;
            color: $black-413;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
        }
        &:-moz-placeholder{
            opacity: 0.5;
            color: $black-413;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
        }
        &:-ms-input-placeholder{
            opacity: 0.5;
            color: $black-413;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 300;
            letter-spacing: 0.7px;
        }
        &::-moz-placeholder  {
            opacity: 0.7;
            color: $black-413;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.7px;
        }
    }
    &__submit{
        width: 140px;
        padding: 13px 33px 13px 33px;
        margin-top: 21px;
        background-color: #fff;
    }
}
.clients{
    &__body{
        display: flex;
        flex-wrap: wrap;
        width: 381px;
        /*margin-top: 47px;*/
    }
    &__client{
        width: 155px;
        height: 70px;
        text-align: center;
        vertical-align: table-cell;
        margin-top: 30px;
        display: flex;
        align-items: center;
        &:nth-child(odd){
            margin-right: 71px;
        }
    }
}
.title-clients{
    margin-bottom: 0;
}
.feedback{
    padding-left: 13px;
}
.our-clients{
    padding-right: 13px;
}
@media (max-width: 940px){
    .feedback{
        width: 47%;
        padding-left: 17px;
    }
    .form__input{
        width: 100%;
    }
    .our-clients{
        width: 47%;
        padding-right: 17px;
    }
    .clients__client:nth-child(odd){
        margin-right: 9.8%;
    }
    .clients__body{
        width: 100%;
        justify-content: space-around;
    }
}
@media (max-width: 767px){
    .feedback{
        width: 100%;
        padding-right: 17px;
    }
    .our-clients{
        width: 100%;
        padding-left: 17px;
        margin-top: 40px;
    }
    .form-clients{
        flex-direction: column;
    }
    .form__input{
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    .title-feedback{
        text-align: center;
    }
    .form__submit{
        margin-left: auto;
        margin-right: auto;
    }
    .clients{
        &__client{
            &:nth-child(even){
                display: none;
            }
            &:nth-child(odd){
                margin-right: 20px;
                margin-left: 20px;
                margin-top: 22px;
            }
            justify-content: center;
        }
    }
}