.logo-story{
    margin-top: 70px;
    display: flex;
}
.logo-ourStory{
    margin-left: 65px;
    margin-right: 100px;
    width: 235px;
    height: 229px;
}
.ourStory{
    &__title{
        color: $black-413;
        font-family: 'Playfair Display', serif;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        margin-bottom: 20px;
    }
    &__text{
        margin-bottom: 31px;
        width: 538px;
        color: #413d4b;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.42px;
        padding-right: 10px;
    }
    &__button{
        margin-bottom: 70px;
    }
}
.watch-story{
    width: 100%;
    background-image: url(../img/story.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.play{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.watch{
    font-size: 95px;
    color: #fff;
    margin-top: 202px;
}
.text-watch{
    color: #ffffff;
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-top: 34px;
    margin-bottom: 202px;
}




@media (max-width: 940px){
    .logo-story{
        margin-top: 50px;
    }
    .logo-ourStory{
        width: 200px;
        height: 200px;
        margin: 30px 60px 0px 35px;
    }
    .ourStory{
        &__title{
            font-size: 21px;
        }
        &__text{
            width: 92%;
            max-width: 600px;
            font-size: 13px;
            line-height: 20px;
            margin-bottom: 25px;
        }
    }
    .watch{
        margin-top: 150px;
    }
    .text-watch{
        margin-bottom: 150px;
    }
}
@media (max-width: 767px){
    .container{
        max-width: 580px;
    }
    .logo-story{
        margin-top: 25px;
        position: relative;
    }
    .logo-ourStory{
        width: 60px;
        height: 60px;
        margin: 0;
        position: absolute;
        left: 5px;
        top: -8px;
    }
    .ourStory{
        &__title{
            text-align: center;
            margin-top: 15px;
            margin-bottom: 30px;
        }
        &__text{
            width: 100%;
            padding-left: 10px;
        }
        &__block-button{
            text-align: center;
        }
        &__button{
            margin-bottom: 45px;
        }
    }
    .watch{
        margin-top: 100px;
        font-size: 70px;
    }
    .text-watch{
        margin-bottom: 100px;
        margin-top: 25px;
        font-size: 14px;
    }
}