$turquoise: #00e0d0;
$white-fa: #fafafa;
$white-f0: #f0f0f0;
$white-f3: #f3f3f3;
$white-f9: #f9f9f9;
$black-413: #413d4b;
$black-33: #333333;
$black-2f: #2f2d35;
$gray-e1: #e1e1e1;
$gray-c2: #c2c2c2;
$gray-9f: #9f9f9f;
$gray-8a: #8a8a8a;
